@import 'system'
.main
    text-align center
    margin auto

    img 
        width 200px
        height 200px

    a
        width 100px
        color default_color 
        text-decoration none
    a:hover 
        color primary_color
